.app-heading {
	font-weight: 700;
	color: #343a40;
	font-size: 50px;
}
.App {
	/* position:absolute; */
	background-color: #D9AFD9;
	background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
	

	height: 100vh;
	width: 100%;
	transition: all 0.3s ease-in-out;
	max-height: 250vh;
	overflow-y: scroll;
}

.dark {
	background-color: #151515;background-image: linear-gradient(to right, #141e30, #19283a);
	color: white;
}

::-webkit-scrollbar{
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 234, 255, 0.782); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(2, 138, 150); 
}

.img_logo
{
	margin:20px 0px 10px 20px;
	width: 8%;
	height: 100%;
}

@media screen and (max-width: 480px) {
	.app-heading {
		font-size: 30px;
	}
	.app-heading2 {
		font-size: 20px;
	}
}

.emojiFix {
	font-weight: 100 !important;
}


.loader {
	width: 50px;
	height: 50px;
	position: relative;
	transform: translateX(-25px);
	/* Compensating for the left of 50px in the keyframe. */
 }
 
 .loader::before,
 .loader::after {
	content: '';
	position: absolute;
	width: inherit;
	height: inherit;
	border-radius: 50%;
	mix-blend-mode: multiply;
	animation: rotate9 1s infinite cubic-bezier(0.77, 0, 0.175, 1);
 }
 
 .loader::before {
	background-color: #fc3f9e;
 }
 
 .loader::after {
	background-color: #50e8f3;
	animation-delay: .5s;
 }
 
 @keyframes rotate9 {
	0%,100% {
	 left: 50px;
	}
 
	25% {
	 transform: scale(.3);
	}
 
	50% {
	 left: 0;
	}
 
	75% {
	 transform: scale(1);
	}
 }